@import partials/variables
@import bourbon/bourbon
@import neat/neat
@import partials/mixins
@import partials/colors
@import partials/typography
@import partials/layout
@import partials/pagination
@import partials/tooltip

.bookcase
  +full-page-title
  > p
    margin: 0 30px 30px
  > div
    background: $border
    padding: 52px 45px 0
    margin-bottom: 50px
    > ul
      text-align: left
      li
        display: inline
        margin: 0 17px
        position: relative
        +size(132px 198px)
        &:hover
          .tooltip
            display: block
      a
        display: inline-block
        margin-bottom: 68px
        p
          margin-bottom: 0

