@import partials/variables
@import bourbon/bourbon
@import neat/neat
@import partials/mixins
@import partials/colors
@import partials/typography
@import partials/layout
@import partials/_custom_input
@import partials/messages

.contact
  +full-page-title
  margin-bottom: 30px
  form
    margin-left: 30px
    padding-bottom: 15px
    +form
  .errors
    margin-right: 30px
    padding-bottom: 10px
    margin-bottom: 30px
    li
      margin: 0
      padding: 10px 10px 0
