@import partials/variables
@import bourbon/bourbon
@import neat/neat
@import partials/mixins
@import partials/colors
@import partials/typography
@import partials/layout
@import partials/home-backgrounds
@import partials/messages

section.content
  width: 100%
.banner
  overflow: hidden
  position: relative
  padding: 20px 0
  ul
    +outer-container
    height: 385px !important
  li
    +fill-parent
  .explanation
    +span-columns(4)
    margin-top: 15px
  .video
    +span-columns(8)
    text-align: right
    border: 6px solid white
  header
    margin-bottom: 30px
  article
    height: 380px
  .image-only
    border: 6px solid white
  .button
    +button
    margin-top: 30px
  #next, #prev
    position: absolute
    +hide-text
    top: 43%
    img
      border: none
  #next
    right: 0
  #prev
    left: 0
  .banner-pages
    +pagination($black-90, $yellow-dark)
.highlights, .first, .second, .testimonials, .contact
  padding: 65px 0

.highlights
  h1
    padding: 0 88px
    text-align: center
    margin-bottom: 50px
  ul
    overflow: hidden
  li
    background: $background-tooltip
    display: inline
    float: left
    height: 265px
    margin-left: 20px
    text-align: center
    width: 220px
    &:first-child
      margin-left: 0
  .image
    height: 156px
  img
    margin-top: 20%
  .tooltip
    background: $background-highlights
    text-align: center
    color: white
    z-index: 1
    position: relative
    width: 100%
    &:before
      content: ' '
      +triangle(26px, $background-highlights, up)
      position: absolute
      top: -26px
      left: 43%
    p
      color: white
      font-size: 16px
      font-weight: normal
    span
      color: white
    .title
      display: table
      font:
        family: $roboto
        weight: bold
      height: 110px
      vertical-align: center
      padding: 18px 22px

.library
  font-family: $helvetica
  .first .image
    margin-top: -95px
  .second
    .image
      text-align: center
    blockquote
      padding-left: 480px
  .image
    +span-columns(6)
  .description
    +span-columns(6)
    strong
      display: block
      margin-bottom: 36px
  h1, h2, h3
    font-size: 30px
    margin-bottom: 36px
  ul
    margin-bottom: 36px

.testimonials
  .testimonial
    background: $black-90
    +span-columns(4)
    font-family: $helvetica
    > p
      padding: 30px
      color: $frozen-white
      font:
        style: italic
        size: 16px
      margin: 0
  .author
    background-color: $background-tooltip
    padding: 30px
    position: relative
    &:before
      content: ' '
      position: absolute
      top: 0
      left: 45%
      +triangle(24px, $black-90, down)
    p
      color: $yellow-dark
      padding: 0
      margin: 0 0 12px 0
      font:
        style: normal
        weight: bold
        size: 16px
    span
      color: white
      text-transform: uppercase
      font-size: 12px

  .testimonial-pages
    margin-top: 20px
    +pagination($background-tooltip, $yellow-dark)

.contact
  h1
    color: $yellow-dark
    text-align: center
    line-height: 40px
    margin-bottom: 30px
form
  background: $black-90
  width: 65.88078%
  padding: 60px 0
  +form
  margin: 0 auto
  input, textarea
    width: 100%
    background: $background-tooltip
    border: none
    color: $frozen-white
  textarea
    min-height: 152px
    resize: none
    font:
      size: 16px
      family: Arial
  fieldset
    margin: 0 60px
  ol
    padding-top: 30px
  legend span
    color: $frozen-white
    font:
      family: $roboto
      size: 23px
    text-align: center
