@import partials/variables
@import bourbon/bourbon
@import neat/neat
@import partials/mixins
@import partials/colors
@import partials/typography
@import partials/layout
@import partials/page
@import partials/faq

body
  background-color: $background-body
.sidebar
  background: white
  +span-columns(3)
.sidebar
  > ul
    margin: 30px 15px
  li
    padding: 10px 0
  li ul
    margin-left: 15px
    li
      border: none
  a
    padding: 5px
.help
  background: $black-90
  text-align: center
  color: white
  font:
    family: $helvetica
    size: 14px
  padding: 25px 17px
  a
    color: $yellow-dark
    display: block
    margin-top: 20px
    font-family: $roboto
    text-transform: uppercase
