<%- layout('../layouts/application') %>
<% stylesheet('../stylesheets/bookcase.css') -%>
<section class='content'>
  <div class='page bookcase'>
    <h1>Biblioteca</h1>
    <p>Ao adotar a SSA, para o curso, alunos e professores ganham acesso a uma biblioteca virtual com títulos de grandes autores.</p>
    <p>Abaixo você pode conhecer alguns desses títulos.</p>
    <div id='books'>
      <ul>
        <% books.forEach(function(book, index){ %>
          <li class='book'>
            <a href='<%=: book.link.value %>'>
              <img src='<%= book.cover._ %>' />
              <div class='tooltip'>
                <p class='title'><%=: book.title._ | downcase | capitalize %></p>
                <p class='author'><%=: book.author._ %></p>
              </div>
            </a>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
</section>
