<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Saraiva Solução de Aprendizagem</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../stylesheets/reset.css"  type='text/css'>
    <%- stylesheets %>
    <script type='text/javascript' src='../javascripts/jquery-1.10.2.min.js'></script>
    <script type='text/javascript' src='../javascripts/jquery.uniform.min.js'></script>
    <%- scripts %>
    <!--[if lt IE 9]>
      <script src="../javascripts/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <div class='content'>
        <h1 class='logo'><a href='/'><img src='../images/logo.png' alt='Logo Saraiva' />Saraiva Solução de aprendizagem</a></h1>
        <nav>
          <ul>
            <li><a href='/quem-somos' class=<%= current === 'about'? 'current' : '' %>>Quem somos</a></li>
            <li><a href='/produto' class=<%= current === 'product'? 'current' : '' %>>Produto</a></li>
            <li><a href='/biblioteca' class=<%= current === 'library'? 'current' : '' %>>Biblioteca</a></li>
            <li><a href='/contato' class=<%= current === 'contact'? 'current' : '' %>>Contato</a></li>
            <li><a href='/faq' class=<%= current === 'faq'? 'current' : '' %>>FAQ</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <%-body -%>

    <footer>
      <div class='content'>
        <h1 class='logo-footer'><a href="http://www.editorasaraiva.com.br/"><img src='../images/hoper-saraiva.png' alt='Hoper + Saraiva Solução de Aprendizagem' />Saraiva Solução de aprendizagem</a></h1>
        <nav>
          <ul>
            <li><a href='/quem-somos' class=<%= current === 'about'? 'current' : '' %>>Quem somos</a></li>
            <li><a href='/produto' class=<%= current === 'product'? 'current' : '' %>>Produto</a></li>
            <li><a href='/biblioteca' class=<%= current === 'library'? 'current' : '' %>>Biblioteca</a></li>
            <li><a href='/contato' class=<%= current === 'contact'? 'current' : '' %>>Contato</a></li>
            <li><a href='/faq' class=<%= current === 'faq'? 'current' : '' %>>FAQ</a></li>
          </ul>
        </nav>
      </div>
      <div class='copyright'>
        <div class='content'>
          <p>Copyright &copy; 2013. Editora Saraiva. Todos os direitos reservados.</p>
        </div>
      </div>
    </footer>
    <script type='text/javascript' src='/javascripts/application.js'></script>
  </body>
</html>
