<div class='sidebar'>
  <ul>
    <li><a href="/produto">› Proposta SSA</a></li>
    <li><a href="/plataforma">› Plataforma SSA</a></li>
    <!--<li><a href="">› Cota disciplinas EAD</a></li>-->
    <li><a href="/disciplinas">› Disciplinas</a></li>
    <!--<li><a href="/custos">› Custos</a></li>-->
    <li><a href="/como-adquirir">› Como adquirir?</a></li>
  </ul>
</div>
