.selector
  position: relative
  width: 350px !important
  border: 1px solid $border
  height: 40px
  span
    display: block
    padding: 10px 15px 15px 15px
    width: 100% !important
    &:before
      content: ' '
      +triangle(18px, $input-arrow, down)
      position: absolute
      top: 15px
      right: 15px
  select
    font-family: $helvetica
    font-size: 14px
    border: solid 1px white
    opacity: 0
    filter: alpha(opacity=0)
    -moz-opacity: 0
    -webkit-appearance: none
    border: none
    background: none
    position: absolute
    top: 0
    height: 44px
    left: 0px
    width: 100%
