.faq
  +fill-parent
  h2
    border-top: 1px solid $border
    padding-top: 32px
  dl
    margin-top: 30px
    width: 600px
  dt, dd
    padding: 20px 20px 0 0
  dt
    font:
      family: $roboto
      size: 21px
      weight: bold
  dd
    border-bottom: 2px dotted $border
    font:
      family: $helvetica
      size: 14px
    line-height: 20px
    padding-bottom: 30px
  .helpful
    margin-top: 20px
  p
    margin: 0
    display: inline
    font-weight: normal
  a
    color: black
    font-weight: bold
    text-decoration: underline
    margin: 0 5px

.faq-question
  form
    border-top: 1px solid $border
    padding-top: 30px
    +form
  legend
    display: block
    padding-bottom: 30px
    span
      font:
        family: $roboto
        size: 24px
      padding-bottom: 30px
  textarea
    min-height: 300px
    resize: none
