.banner
  background: $background-banner
.highlights
  background: white
.library
  .first
    background: $yellow-bright
  .second
    background: $yellow-dark
.testimonials
  background: $black-80
.contact
  background: url('../images/background-saraiva-logo.png') repeat center center
