body
  background: $background-body
  > header
    background: white
    margin-bottom: 32px
    +shadow

  .content > nav
    margin: 47px 0
    +span-columns(6)
    float: right
    li
      +navigation
footer
  background: $black-80
.copyright
  background: $black-90
  padding: 35px 0 15px
  p
    color: $black-70
.content
  +outer-container
.logo, .logo-footer
  +hide-text
  margin-top: 20px

.logo
  +span-columns(2)

.logo-footer
  +span-columns(3)
