.success, .errors
  +outer-container
  position: relative
.errors
  color: #D8000C
  background-color: #FFBABA
  font-family: 'Helvetica Neue', Helvetica, sans-serif
  padding-bottom: 10px
  margin-bottom: 30px
  li
    margin: 0
    padding: 10px 10px 0
  .close
    background: white
    border-radius: 100px
    color: #D8000C
    position: absolute
    right: 5px
    top: 5px
    +size(20px 20px)
    text-align: center
    font-weight: bold
    z-index: 2
