=navigation
  display: inline
  text-align: left
  &:first-child
    margin-left: 0
  a
    padding: 5px 10px

=shadow
  box-shadow: 0px 3px 5px #E8E8EB

=full-page-title
  background: white
  padding-top: 35px
  h1
    margin: 0 30px 30px 30px
    padding-bottom: 30px
    border-bottom: 1px solid $border

=button
  background: $yellow-dark
  border-radius: 4px
  border: none
  color: $black-90
  font-family: $helvetica
  padding: 10px 18px
  font-size: 16px

=form
  li, label
    display: block
  label
    margin-bottom: 5px
  li
    margin-bottom: 17px
    position: relative
    &.error
      input
        border-color: red
  input, textarea
    border: 1px solid $border
    padding: 10px 18px
    width: 350px
  button
    +button
  .inline-error
    color: red
    position: absolute
    left: 360px
    top: 30px
    width: 180px
    font-size: 16px
    font-style: italic
=pagination($default, $hover)
  text-align: center
  a
    border-radius: 100px
    display: inline-block
    background: $default
    +size(16px 16px)
    +hide-text
    margin: 5px
    &.activeSlide
      background: $hover
