.pagination
  text-align: center
  li
    background: $background-pagination
    border: 1px solid $pagination-border
  a
    color: black
    font-family: $helvetica
    &:hover, &.current
      text-decoration: underline
