.page
  background: white
  margin-bottom: 30px
  padding: 35px
  +span-columns(9)
  > img
    display: block
    margin: 0 auto 30px
  h1
    margin-bottom: 30px
  .right, .left, .right-video, .left-video
    overflow: hidden
    padding-top: 25px
    margin-top: 30px
    border-top: 1px solid $border
    h2
      margin: 30px 0
      text-transform: none
    a
      text-decoration: underline
      color: $black-80
      font-family: $helvetica
  .right
    img
      display: inline
      float: right
      margin:
        left: 30px
        bottom: 30px
    p
      padding-right: 357px
  .left
    img
      display: inline
      float: left
      margin:
        right: 30px
        bottom: 30px
    p
      padding-left: 357px

.explanation
  width: 240px
.right-video
  .explanation
    float: left
  video
    float: right
.left-video
  .explanation
    float: right
  video
    float: left
