.tooltip
  background: $background-tooltip
  text-align: center
  color: white
  left: 50%
  margin-left: -105px
  padding: 18px 40px
  position: absolute
  z-index: 1
  width: 210px
  display: none
  &:before
    content: ' '
    +triangle(26px, $background-tooltip, up)
    position: absolute
    top: -26px
    left: 43%
  p
    color: white
  .title
    font-weight: bold
