@import colors
$roboto: 'Roboto Slab', serif

.content > nav a,
.content > nav a,
h1, h2, h3, h4, h5, h6
  font-family: $roboto
  color: $text-black

.content > nav a,
.content > nav a
  font-size: 16px

a
  text-decoration: none

label, input, button
  font-family: $helvetica
  font-size: 16px

p, span, blockquote
  font-family: $helvetica
  font-size: 14px
  line-height: 20px
  margin-bottom: 20px
  color: $black-80

strong, b
  font-weight: bold

@for $i from 1 through 6
  h#{$i}
    font-size: 33px - 3*$i

.sidebar
  a
    color: $black-90
    display: block
    font:
      family: $helvetica
      size: 14px
    padding: 16px 0
    &:hover, &.current
      font-weight: bold
  li
    border-bottom: 1px dotted $border

footer
  .content nav a
    color: white
    +transition (all .3s ease-in-out)
    &:hover, &.current
      color: $yellow-current-links

header
  .content nav a
    +transition (all .3s ease-in-out)
    &:hover, &.current
      background: $yellow-current-links
      color: $black-80
