<%- layout('../layouts/application') %>
<% stylesheet('../stylesheets/screen.css') -%>

<section class='content'>
  <%- partial('partials/navigation') %>
  <div class='page'>
    <h1>Como adquirir?</h1>
    <div class='right'>
      <!-- <img src="../images/como-adquirir.png" alt=""> -->
      <p>Entre em contato com um dos consultores de negócios da Hoper Educação e agende uma visita.</p>
      <p>Nossos consultores são especializados em Ensino Superior e poderão propor a melhor solução de acordo com as necessidades de sua instituição.</p>
      <a href="/contato">Clique aqui para entrar em contato.</a>
    </div>
  </div>
</section>
