<%- layout('../layouts/application') %>
<% stylesheet('../stylesheets/contact.css') -%>
<section class='content'>
  <div class='page contact'>
    <h1>Contato</h1>
    <form action='/contato' name='contact' method='post'>
      <% if(errors.length !== 'undefined' && errors.length > 0) { %>
        <div class="errors">
          <a href='#' class='close' onclick='$(this).parent().remove(); return false;'>x</a>
          <ul>
            <% errors.forEach(function(error, index){ %>
              <li><%- error.msg %></li>
            <% }); %>
          </ul>
        </div>
        <% } else if(message) { %>
         <div class="msg-sucesso" style="margin:0 0 16px 0;"><img src='../images/msg-sucesso.png' /></div>
      <% } %>
      <fieldset class='inputs'>
        <ol>
          <li class='input'>
            <label for='name'>Nome completo</label>
            <input type='text' id='name' name='name' />
          </li>
          <li class='input'>
            <label for='email'>E-mail</label>
            <input type='email' id='email' name='email' />
            <!-- <p class='inline-error'>Verifique o email digitado e tente novamente.</p> -->
          </li>
          <li class='input'>
            <label for='subject'>Assunto</label>
            <select name='subject'>
              <option value="Selecione o assunto">Selecione o assunto</option>
              <option value="Assunto 1">Comercial</option>
              <option value="Assunto 2">Pedagógico</option>
              <option value="Assunto 3">Suporte</option>
              <option value="Assunto 4">Outros</option>
            </select>
          </li>
          <li class='input'>
            <label for="ddd">DDD</label>
            <input type="text" id='ddd' name='ddd' />
          </li>
          <li class='input'>
            <label for="phone">Telefone</label>
            <input type="text" id='phone' name='phone' />
          </li>
          <li class='textarea'>
            <textarea id="message" cols="30" rows="10" name='message'></textarea>
          </li>
        </ol>
      </fieldset>

      <fieldset class='actions'>
        <ol>
          <li><button type='submit'>Enviar</button></li>
        </ol>
      </fieldset>
    </form>
  </div>
</section>
