<%- layout('../layouts/application') %>
<% stylesheet('../stylesheets/screen.css') -%>

<section class='content'>
  <%- partial('partials/navigation') %>
  <div class='page'>
    <h1>Custos</h1>
    <div class='right'>
      <img src="../images/photo-help.png" alt="">
      <h2>Ambiente Virtualde Aprendizagem</h2>
      <p>O custo-benefício da SSA nas IES é amplamente justificado.</p>
      <p>Agende com um de nossos especialistas para se informar sobre os descontos e condições de financiamento. Estamos a sua disposição!</p>
    </div>
  </div>
</section>
