<%- layout('../layouts/application') %>
<% stylesheet('../stylesheets/screen.css') -%>

<section class='content'>
  <div class='sidebar'>
    <ul>
      <li><a href="/produto">› Proposta SSA</a></li>
      <li><a href="/plataforma">› Plataforma SSA</a></li>
      <!-- <li><a href="">› Cota disciplinas EAD</a></li> -->
      <li><a href="/disciplinas">› Disciplinas</a>
        <ul>
          <li><a href="#graduacao-em-direito">› Graduação em Direito</a></li>
          <li><a href="#graduacao-em-gestao">› Graduação em Gestão</a></li>
        </ul>
      </li>
      <!-- <li><a href="/custos">› Custos</a></li> -->
      <li><a href="/como-adquirir">› Como adquirir?</a></li>
    </ul>
  </div>
  <div class='page'>
    <h1>Disciplinas</h1>
    <div id='graduacao-em-direito' class='education right'>
      <img src="../images/graduacao-em-direito.png" alt="">
      <h2>Graduação em Direito</h2>
      <p>Dentro da perspectiva da aprendizagem autônoma e dinâmica, todos os ramos do Direito são contemplados a partir de temáticas variadas e abrangentes. As atividades de aprendizagem, divididas nas diversas disciplinas dos eixos de formação fundamental e profissional, auxiliam no desenvolvimento das habilidades e competências necessárias para o domínio de conceitos e da terminologia jurídica.</p>
    </div>

    <div id='graduacao-em-gestao' class='product left'>
      <img src="../images/graduacao-em-gestao.png" alt="">
      <h2>Graduação em Gestão</h2>
      <p>A Saraiva Solução de Aprendizagem proporciona aos alunos dos cursos de Gestão a interdisciplinaridade e facilidade na correlação do teórico-prático, considera o novo cenário que se apresenta no mundo contemporâneo: mais dinâmico e, consequentemente, mais exigente. Características das áreas envolvidas, como Marketing, Logística, Gerenciamento de Pessoas, Finanças e Negócios.</p>
    </div>
  </div>
</section>
