<%- layout('../layouts/application') %>
<% stylesheet('../stylesheets/screen.css') -%>
<section class='content'>
  <div class='sidebar'>
    <ul>
      <li><a href="">› A proposta SSA</a></li>
      <li><a href="">› A plataforma SSA</a></li>
      <!-- <li><a href="">› Cota disciplinas EAD</a></li> -->
      <li><a href="">› Disciplinas</a></li>
      <li><a href="">› Custos</a></li>
    </ul>
    <div class='help'>
      Não encontrou uma resposta para a sua duvida?

      <a href='/faq-pergunta'>Faça uma pergunta</a>
    </div>
  </div>
  <div class='page faq-question'>
    <h1>FAQ</h1>
    <form action='/faq-enviar-pergunta' name='faq-question' method='post'>
      <fieldset class='inputs'>
        <legend><span>Faça uma pergunta</span></legend>
        <ol>
          <li class='input'>
            <label for='name'>Nome completo</label>
            <input type='text' name='name' />
          </li>
          <li class='input'>
            <label for='email'>Email</label>
            <input type='email' name='email' />
          </li>
          <li class='input'>
            <label for='question'>Pergunta</label>
            <textarea name='question'></textarea>
          </li>
        </ol>
      </fieldset>
      <fieldset class='actions'>
        <ol>
          <li><button type='submit'>Enviar</button></li>
        </ol>
      </fieldset>
    </form>
  </div>
</section>

