<%- layout('../layouts/application') %>
<% stylesheet('../stylesheets/screen.css') -%>
<section class='content'>
<!--  <div class='sidebar'>
    <ul>
      <li><a href="">› A proposta SSA</a></li>
      <li><a href="">› A plataforma SSA</a></li>
      <li><a href="">› Cota disciplinas EAD</a></li>
      <li><a href="">› Disciplinas</a></li>
      <li><a href="">› Custos</a></li>
    </ul>
    <div class='help'>
      Não encontrou uma resposta para a sua duvida?

      <a href='/faq-pergunta'>Faça uma pergunta</a>
    </div>
  </div> -->
  <div class='page faq'>
    <h1>FAQ</h1>
    <dl>
      <dt>A instituição deve mudar a matriz curricular do curso de Direito ou de Gestão para utilizar a Saraiva Solução de Aprendizagem (SSA)?</dt>
      <dd>
        <p>Não. A solução encontrada foi adaptar-se à matriz curricular dos cursos da instituição. Tudo é elaborado dentro das áreas de conhecimento dos cursos, segundo as Diretrizes Curriculares Nacionais - DCN. Como exemplos de áreas de conhecimento do curso de Direito, podemos citar a de Direito Penal, a de Direito Civil, a de Direito Constitucional etc.</p>
        <p>Em Direito Civil, por exemplo, a instituição poderá utilizar o material da metodologia em diversas disciplinas, não importa quantas divisões possui. Ou seja, a solução foi elaborada para as diversas áreas de conhecimento, não para as disciplinas de uma dada matriz curricular.</p>
<!--        <div class='helpful'>
          <p>Você achou esta resposta útil?</p>
          <a href='#yes' class='yes'>Sim</a>
          <a href='#no' class='no'>Não</a>
        </div> -->
      </dd>

      <dt>Caso a instituição apresente alguma disciplina muito específica na matriz curricular do seu curso, como proceder?</dt>
      <dd>
        <p>Um curso poderá conter disciplinas muito específicas que não podem ser atendidas por nenhuma combinação das diversas áreas de conhecimento atendidas pela SSA. Para essa não explicitada nas diretrizes curriculares nacionais e nas diretrizes do ENADE, não há material disponível na Saraiva Solução de Aprendizagem. O objetivo da metodologia é dar conta daquilo que está previsto nas diretrizes curriculares nacionais dos cursos e nas diretrizes do ENADE.</p>
<!--        <div class='helpful'>
          <p>Você achou esta resposta útil?</p>
          <a href='#yes' class='yes'>Sim</a>
          <a href='#no' class='no'>Não</a>
        </div> -->
      </dd>
      <dt>Como a Saraiva Solução de Aprendizagem interfere no trabalho do docente, na sua liberdade, na sua autonomia?</dt>
      <dd>
        <p>A metodologia da Saraiva Solução de Aprendizagem serve de apoio ao trabalho do docente, sem interferir na forma como ele atua em sala de aula. É uma metodologia complementar, para auxiliá-lo no ensino de sua disciplina. Fornece sugestões de leitura (livros dos mais importantes autores), exercícios, avaliações e atividades que enriquecem as aulas e permitem o acompanhamento da aprendizagem dos alunos. Definindo objetivos de aprendizagem para os mais importantes conteúdos das disciplinas, relacionados a atividades, exercícios e  avaliações, a Saraiva Solução de Aprendizagem possibilita medidas detalhadas da aprendizagem dos alunos em cada disciplina em particular e no curso como um todo.</p>
 <!--       <div class='helpful'>
          <p>Você achou esta resposta útil?</p>
          <a href='#yes' class='yes'>Sim</a>
          <a href='#no' class='no'>Não</a>
        </div> -->
      </dd>

      <dt>A instituição pode combinar os materiais didáticos e as atividades das diversas áreas de conhecimento da SSA para atender a uma disciplina específica do curso?</dt>
      <dd>
        <p>Sim. Os recursos da SSA, por serem construídos em pequenas unidades de aprendizagem temáticas, correspondentes a uma carga horária mínima de 2 aulas, podem ser combinados de acordo com as necessidades de uma dada disciplina do curso. É um sistema customizado, que se utiliza de materiais didáticos e atividades das diversas áreas de conhecimento que compõem a metodologia.</p>
        <p>Toda a metodologia é construída com materiais para uma unidade temática de apenas 2 horas. Uma área de conhecimento de 160 horas (por exemplo, Direito Administrativo) é dividida em 80 unidades de aprendizagem, com 2 horas de atividades para cada unidade. Essas diversas unidades de aprendizagem das áreas de conhecimento que compõem a SSA podem ser combinadas pelo curso de várias formas diferentes para atender ao plano de ensino de uma dada disciplina. Logo, podemos afirmar que a SSA respeita a matriz curricular da instituição.</p>
 <!--       <div class='helpful'>
          <p>Você achou esta resposta útil?</p>
          <a href='#yes' class='yes'>Sim</a>
          <a href='#no' class='no'>Não</a>
        </div> -->
      </dd>

      <dt>E como interfere nas provas e avaliações dos cursos?</dt>
      <dd>
        <p>A Saraiva Solução de Aprendizagem fornece, a pedido da instituição e do docente, simulados periódicos de aprimoramento do estudo para exames nacionais, concursos públicos e conselhos profissionais sobre a disciplina do docente. As questões objetivas vêm com gabarito comentado, às dissertativas com padrão de resposta esperado.</p>
<!--        <div class='helpful'>
          <p>Você achou esta resposta útil?</p>
          <a href='#yes' class='yes'>Sim</a>
          <a href='#no' class='no'>Não</a>
        </div> -->
      </dd>

      <dt>Como gestores, coordenadores, professores e alunos têm acesso aos materiais da Saraiva Solução de Aprendizagem?</dt>
      <dd>
        <p>Além dos livros físicos, todos os conteúdos da metodologia podem ser acessados pela internet. Os conteúdos com suas respectivas atividades e orientações de leitura são acessados pelos discentes e docentes no portal SSA, que permitem o acompanhamento, a gestão e a emissão de relatórios analíticos.</p>
<!--       <div class='helpful'>
          <p>Você achou esta resposta útil?</p>
          <a href='#yes' class='yes'>Sim</a>
          <a href='#no' class='no'>Não</a>
        </div> -->
      </dd>

      <dt>Além dos ganhos pedagógicos e de gestão, a SSA possibilita algum benefício financeiro para a IES parceira?</dt>
      <dd>
        <p>Sim. A instituição poderá diminuir diversos custos ao utilizar a SSA:<br/><br/></p>
 
        <p>· Relação hora-aula (h/a) e hora relógio (h)<br/><br/></p>

        <p>· Pela legislação em vigor, uma disciplina de 80 h pode ser trabalhada da seguinte maneira: 80 h/a em sala de aula com, por exemplo, duração de 50 minutos, o que corresponde aproximadamente a 66 horas de aulas em sala, e mais 14 horas de atividades discentes efetivas, realizadas fora de sala de aula e com orientação docente. Essas 14 horas podem ser trabalhadas utilizando-se das atividades que compõem a SSA, sem custo adicional. Assim, os docentes do curso não terão nenhum trabalho para a preparação dessas atividades.<br/><br/></p>

        <p>· 20% da carga horária do curso com disciplinas à distância (EAD).<br/><br/></p>

        <p>· A legislação permite a um curso reconhecido que utilize até 20% de sua carga total com disciplinas (no todo ou em partes) na modalidade à distância (EAD).<br/><br/></p>

        <p>· A SSA fornece material didático adequado, com conteúdos e atividades que poderão ser utilizados como material de apoio ao ensino à distância (EAD). Assim, uma parte do custo com disciplinas à distância poderá ser reduzido com o uso da SSA.<br/><br/></p>

        <p>· Economia no acervo da Biblioteca da Instituição.<br/><br/></p>

        <p>· A SSA fornece livros físicos para cada aluno do curso, o chamado livro-texto da disciplina e uma centena de livros digitais para os alunos. Podemos estimar, no mínimo, uma economia de 30% com o acervo da biblioteca do curso.</p>
<!--        <div class='helpful'>
          <p>Você achou esta resposta útil?</p>
          <a href='#yes' class='yes'>Sim</a>
          <a href='#no' class='no'>Não</a>
        </div> -->
      </dd>
    </dl>
  </div>
</section>
