<%- layout('../layouts/application') %>
<% stylesheet('../stylesheets/home.css') -%>
<% script('../javascripts/jquery.cycle.js') -%>

<% if(errors.length !== 'undefined' && errors.length > 0) { %>
  <div class="errors">
    <a href='#' class='close' onclick='$(this).parent().remove(); return false;'>x</a>
    <ul>
      <% errors.forEach(function(error, index){ %>
        <li><%- error.msg %></li>
      <% }); %>
    </ul>
  </div>
  <% } else if(message) { %>
   <div class="success" style="margin:0 0 16px 0;"><img src='../images/msg-sucesso.png' /></div>
<% } %>

<section class='banner' role='banner'>
  <!-- <a href='#' id='prev'><img src='../images/prev.png' /></a> -->
  <ul>
    <li>
      <article>
        <div class='explanation'>
          <header>
            <h1>Saraiva Solução de Aprendizagem (SSA)</h1>
          </header>
          <blockquote>A <strong>Saraiva</strong> e a <strong>HOPER</strong> se uniram para criar o futuro do Ensino Superior brasileiro. Juntas, desenvolveram uma proposta para complementar o trabalho do professor em sala de aula e aumentar a aprendizagem dos alunos. Assim, eles poderão ter um desempenho melhor em provas e avaliações oficiais, como o <strong>ENADE</strong>, o <strong>Exame da OAB</strong> e o <strong>Exame de Suficiência CRC</strong>.</blockquote>
          <a href="/produto" class='button'>Saiba mais</a>
        </div>
        <div class='video'>
          <iframe width="608" height="329" src="//www.youtube.com/embed/pnSlTO3_ns4" frameborder="0" allowfullscreen></iframe>
        </div>
      </article>
    </li>

<!--
    <li>
      <article class='image-only'>
        <a href="http://loja.editorasaraiva.com.br/cursos/smart-english">
          <img src='../images/banner/banner-02.png' />
        </a>
      </article>
    </li> -->

    <!-- <li>
      <article class='image-only'>
        <a href="http://loja.editorasaraiva.com.br/videoaulas">
          <img src='../images/banner/banner-03.png' />
        </a>
      </article>
    </li>
-->

  </ul>
  <!-- <a href='#' id='next'><img src='../images/next.png' /></a> -->
  <div class='banner-pages'></div>
</section>

<section>
  <div class='highlights'>
    <div class='content'>
      <h1>UM SALTO DE QUALIDADE PARA A SUA INSTITUIÇÃO DE ENSINO SUPERIOR</h1>
      <ul>
        <li>
          <div class='image'>
            <img src='../images/icon-gadgets.png' />
          </div>
          <div class='tooltip'>
            <p class='title'>Acessível por computadores, tablets e smartphones.</p>
            <span>Criamos experiências de aprendizagem envolvendo todos os participantes em um contexto dinâmico onde a tecnologia é um facilitador.Caderno virtual de atividades que permite dezenas de horas de estudo complementando a leitura do livrotexto. Flexibiliza os horários de estudo  e permite maior envolvimento do aluno com o conteúdo do cursoescolhido. Multiplica-se as formas de aprendizado e aplicações de uso no dia a dia.ta</span>
          </div>
        </li>
        <li>
          <div class='image'>
            <img src='../images/icon-media.png' />
          </div>
          <div class='tooltip'>
            <p class='title'>Atividades (unidades por conteúdos, competências e habilidades).</p>
            <span>ENRIQUECIMENTO DO ENSINO: Terá a sua disposição milhares de recursos que estimulam o desenvolvimento de competências e a dinâmica da sala de aula. APRENDIZAGEM PERSONALIZADA E EFETIVA: Metodologia testada, que garante o acompanhamento do desempenho acadêmico, desenvolvendo competências, habilidades e o pensamento crítico.Material desenvolvido de forma organizada. Com conteúdos e atividades estruturados para as aulas.</span>
          </div>
        </li>
        <li>
          <div class='image'>
            <img src='../images/icon-graph.png' />
          </div>
          <div class='tooltip'>
            <p class='title'>Relatórios gerenciais de aprendizagem.</p>
            <span>Ferramentas de avaliação que permitem melhor gestão do desempenho discente e docente. Estes relatórios são uma parte vital para uma nova gestão.</span>
          </div>
        </li>
        <li>
          <div class='image'>
            <img src='../images/icon-paper.png' />
          </div>
          <div class='tooltip'>
            <p class='title'>Questões para simulados oficiais.</p>
            <span>Conteúdos para atividades complementares, com base nas competências necessárias para o ENADE.</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class='library'>
    <div class='first'>
      <div class='content'>
        <h1>BIBLIOTECA</h1>

        <div class='description'>
          <strong>Aumento do acervo de livros físicos para professores e alunos</strong>
          <p>Cada aluno e professor receberá o livro-texto de cada disciplina de seu curso.</p>
          <strong>Dezenas de livros digitais dos grandes autores de Direito e Gestão </strong>
          <p>Ao adotar a SSA, os alunos e os professores ganham acesso a uma biblioteca virtual com títulos de grandes autores, que podem ser usados tanto na bibliografia básica como na complementar da disciplina. Possibilita aos discentes maior aprofundamento nas teorias e, por consequência, amplia seu conhecimento e aprendizado.</p>
        </div>
        <div class='image'>
          <img src='../images/destaque-biblioteca.png' />
        </div>
      </div>
    </div>
<!--
    <div class='second'>
      <div class='content'>
        <div class='image'>
          <img src='../images/photo-about.png'/>
        </div>
        <h3>E MAIS</h3>

        <blockquote>• Supre totalmente a necessidade da Instituições de Ensino Superior (IES) nas disciplinas oferecidas na modalidade Ensino a Distância (EAD).</blockquote>
        <blockquote>• Oficinas e palestras para alunos e professores se adaptarem-se rapidamente à metodologia de aprendizagem.</blockquote>

        <ul>
          <li>• Supre totalmente a necessidade da IES nas disciplinas oferecidas na modalidade EaD.</li>
          <li>• Oficinas e palestras para alunos e professores se adaptarem rapidamente à metodologia de aprendizagem.</li>
        </ul>

        <h2>AS OFICINAS E PALESTRAS CONECTAM A EQUIPE</h2>
        <blockquote>
          Para potencializar a capacidade de aprendizado, a Saraiva Solução de Aprendizagem oferece oficinas para qualificação para os alunos e professores. Assim, docentes e discentes podem acompanhar a evolução do sistema e das ferramentas disponíveis para o processo de ensino e aprendizagem.
          Este é um grande incentivo a novas práticas.
        </blockquote>
      </div>
    </div>
-->
  </div>
  <!--
    <div class='testimonials'>
      <div class='content'>
        <h1>Depoimentos</h1>
        <ul>
          <li>
            <div class='testimonial'>
              <p>“Lorem Ipsum. Proin gravida ibh vedl dfvelit auctvvor aliquet. nean sollicitudin, lorem quis bibendum auctor, nisi eli nsequat ip, sagittis sem nibh id elit. Duis sed odio.”</p>
              <div class='author'>
                <p>Samuel Fernandes Lima</p>
                <span>DIRETOR</span>
              </div>
            </div>

            <div class='testimonial'>
              <p>“Lorem Ipsum. Proin gravida ibh vedl dfvelit auctvvor aliquet. nean sollicitudin, lorem quis bibendum auctor, nisi eli nsequat ip, sagittis sem nibh id elit. Duis sed odio.”</p>
              <div class='author'>
                <p>Samuel Fernandes Lima</p>
                <span>DIRETOR</span>
              </div>
            </div>

            <div class='testimonial'>
              <p>“Lorem Ipsum. Proin gravida ibh vedl dfvelit auctvvor aliquet. nean sollicitudin, lorem quis bibendum auctor, nisi eli nsequat ip, sagittis sem nibh id elit. Duis sed odio.”</p>
              <div class='author'>
                <p>Samuel Fernandes Lima</p>
                <span>DIRETOR</span>
              </div>
            </div>
          </li>

          <li>
            <div class='testimonial'>
              <p>“Lorem Ipsum. Proin gravida ibh vedl dfvelit auctvvor aliquet. nean sollicitudin, lorem quis bibendum auctor, nisi eli nsequat ip, sagittis sem nibh id elit. Duis sed odio.”</p>
              <div class='author'>
                <p>Samuel Fernandes Lima</p>
                <span>DIRETOR</span>
              </div>
            </div>

            <div class='testimonial'>
              <p>“Lorem Ipsum. Proin gravida ibh vedl dfvelit auctvvor aliquet. nean sollicitudin, lorem quis bibendum auctor, nisi eli nsequat ip, sagittis sem nibh id elit. Duis sed odio.”</p>
              <div class='author'>
                <p>Samuel Fernandes Lima</p>
                <span>DIRETOR</span>
              </div>
            </div>

            <div class='testimonial'>
              <p>“Lorem Ipsum. Proin gravida ibh vedl dfvelit auctvvor aliquet. nean sollicitudin, lorem quis bibendum auctor, nisi eli nsequat ip, sagittis sem nibh id elit. Duis sed odio.”</p>
              <div class='author'>
                <p>Samuel Fernandes Lima</p>
                <span>DIRETOR</span>
              </div>
            </div>
          </li>

          <li>
            <div class='testimonial'>
              <p>“Lorem Ipsum. Proin gravida ibh vedl dfvelit auctvvor aliquet. nean sollicitudin, lorem quis bibendum auctor, nisi eli nsequat ip, sagittis sem nibh id elit. Duis sed odio.”</p>
              <div class='author'>
                <p>Samuel Fernandes Lima</p>
                <span>DIRETOR</span>
              </div>
            </div>

            <div class='testimonial'>
              <p>“Lorem Ipsum. Proin gravida ibh vedl dfvelit auctvvor aliquet. nean sollicitudin, lorem quis bibendum auctor, nisi eli nsequat ip, sagittis sem nibh id elit. Duis sed odio.”</p>
              <div class='author'>
                <p>Samuel Fernandes Lima</p>
                <span>DIRETOR</span>
              </div>
            </div>

            <div class='testimonial'>
              <p>“Lorem Ipsum. Proin gravida ibh vedl dfvelit auctvvor aliquet. nean sollicitudin, lorem quis bibendum auctor, nisi eli nsequat ip, sagittis sem nibh id elit. Duis sed odio.”</p>
              <div class='author'>
                <p>Samuel Fernandes Lima</p>
                <span>DIRETOR</span>
              </div>
            </div>
          </li>
        </ul>
        <div class='testimonial-pages'></div>
      </div>
    </div>
  -->
  <div class='contact'>
    <div class='content'>
      <h1><strong>SARAIVA SOLUÇÃO DE APRENDIZAGEM</strong>. <br /> SUA INSTITUIÇÃO PRECISA CONHECER.</h1>
      <form action='/agendamento' name='booking' method='post' >
        <fieldset class='inputs'>
          <legend><span>Agende uma visita com a nossa equipe de especialistas:</span></legend>
          <ol>
            <li class='input'><input type='text' name='name' placeholder='Nome'/></li>
            <li class='input'><input type='email' name='email' placeholder='E-mail' /></li>
            <li class='textarea'><textarea placeholder='Mensagem' name='message'></textarea></li>
          </ol>
        </fieldset>
        <fieldset class='actions'>
          <ol>
            <li><button type="submit">Enviar</button></li>
          </ol>
        </fieldset>
      </form>
    </div>
  </div>
</section>
