<%- layout('../layouts/application') %>
<% stylesheet('../stylesheets/screen.css') -%>

<section class='content'>
  <div class='sidebar'>
    <ul>
      <li><a href="/produto">› Proposta SSA</a></li>
      <li><a href="/plataforma">› Plataforma SSA</a>
        <ul>
          <li><a href="#ambiente-virtual-de-aprendizagem">› Ambiente Virtual de Aprendizagem</a></li>
          <li><a href="#atividades">› Atividades</a></li>
          <li><a href="#biblioteca-virtual">› Biblioteca Virtual</a></li>
          <li><a href="#relatorios-gerenciais-de-aprendizagem">› Relatórios Gerenciais de Aprendizagem</a></li>
          <li><a href="#simulados-para-avaliacoes-oficiais">› Simulados para avaliações oficiais</a></li>
        </ul>
      </li>
      <!-- <li><a href="">› Cota disciplinas EAD</a></li> -->
      <li><a href="/disciplinas">› Cursos Atendidos</a></li>
      <!-- <li><a href="/custos">› Custos</a></li> -->
      <li><a href="/como-adquirir">› Como adquirir?</a></li>
    </ul>
  </div>
  <div class='page'>
    <h1>Plataforma SSA</h1>
    <div id='ambiente-virtual-de-aprendizagem' class='education right'>
      <img src="../images/ambiente-virtual-de-aprendizagem.png" alt="">
      <h2>Ambiente Virtual de Aprendizagem</h2>
      <p>A plataforma SSA pode ser integrada ao site de sua instituição de ensino para facilitar o acesso dos alunos ao ambiente virtual de aprendizagem.</p>
      <p>Essa multiplataforma pode ser acessada em desktops, tablets e smartphones.</p>
    </div>

    <div id='atividades' class='product left'>
      <!-- <img src="../images/atividades.png" alt=""> -->
      <h2>Atividades</h2>
      <p>Atividades desenvolvidas por especialistas renomados a partir das temáticas mais relevantes de cada disciplina estão disponíveis para a escolha do professor. São exercícios divididos em unidades por conteúdos, competências e habilidades.</p>
      <p>As atividades estimulam o conhecimento prévio dos temas que são tratados em sala de aula. Além disso, possibilitam que o professor utilize-as de acordo com o desempenho acadêmico dos alunos e do seu plano de aula, viabilizando o desenvolvimento de competências e habilidades previstas nas Diretrizes Curriculares Nacionais – DCNs.</p>
    </div>

    <div id='biblioteca-virtual' class='right'>
      <img src="../images/biblioteca-virtual.png" alt="">
      <h2>Biblioteca Virtual</h2>
      <p>Ao adotar a SSA, os alunos e os professores ganham acesso a uma biblioteca virtual com títulos de grandes autores, que podem ser usados tanto na bibliografia básica como na complementar da disciplina. Possibilita aos discentes maior aprofundamento nas teorias e, por consequência, amplia seu conhecimento e aprendizado.</p>
    </div>

    <div id='relatorios-gerenciais-de-aprendizagem' class='product left'>
      <img src="../images/relatorios-gerenciais-de-aprendizagem.png" alt="">
      <h2>Relatórios Gerenciais de Aprendizagem</h2>
      <p>Ferramentas de avaliação que permitem melhor gestão de desempenho dos discentes. Acessíveis para professores e gestores da instituição.</p>
    </div>

    <div id='simulados-para-avaliacoes-oficiais' class='right'>
      <img src="../images/simulados.png" alt="">
      <h2>Simulados para avaliações oficiais</h2>
      <p>Alunos e professores têm acesso a simulados de avaliações oficiais como a do ENADE, o Exame da OAB, o Exame de Suficiência em Contabilidade, entre outros.</p>
    </div>
  </div>
</section>
