<%- layout('../layouts/application') %>
<% stylesheet('../stylesheets/screen.css') -%>

<section class='content'>
  <div class='sidebar'>
    <ul>
      <li><a href="">› Proposta SSA</a>
        <ul>
          <li><a href="#novas-tendencias-da-educacao">› As tendências da Educação</a></li>
          <li><a href="#o-que-e-o-produto">› O que é a SSA</a></li>
          <li><a href="#como-isso-aajuda-a-IES">› Como isso ajuda a IES</a></li>
          <li><a href="#beneficios-para-o-estudante">› Benefícios para o Estudante</a></li>
          <li><a href="#beneficios-para-o-professor">› Benefícios para o Professor</a></li>
          <li><a href="#beneficios-para-o-dirigente">› As oficinas e palestras conectam a equipe</a></li>
        </ul>
      </li>
      <li><a href="/plataforma">› Plataforma SSA</a></li>
      <!-- <li><a href="">› Cota disciplinas EAD</a></li> -->
      <li><a href="/disciplinas">› Disciplinas</a></li>
      <!-- <li><a href="/custos">› Custos</a></li> -->
      <li><a href="/como-adquirir">› Como adquirir?</a></li>
    </ul>
  </div>
  <div class='page'>
    <h1>Proposta SSA</h1>
    <div id='novas-tendencias-da-educacao' class='education right'>
      <img src="../images/as-tendencias-da-educacao.png" alt="">
      <h2>As tendências da educação</h2>
      <p>A SSA está alinhada com as tendências educacionais que possibilitam uma aprendizagem significativa e colaborativa, baseada em competências, em que os professores são facilitadores de aprendizagem e a utilização de dispositivos móveis (celulares e tablets) para acesso a informações e conhecimentos na rede e em livros digitais, criam um ambiente pessoal de aprendizagem.</p>
    </div>

    <div id='o-que-e-o-produto' class='product left'>
      <img src="../images/o-que-e-a-SSA.png" alt="">
      <h2>O que é a SSA?</h2>
      <p>A Saraiva Solução de Aprendizagem – SSA possibilita a professores e alunos obterem melhores resultados durante o processo de aprendizagem. Por meio dos recursos oferecidos, ambas as partes terão mais possibilidades para estudar os conteúdos necessários. </p>
      <p>A solução oferece quatro grandes benefícios a sua Instituição de Ensino Superior (IES): livros físicos, digitais, atividades e gestão de aprendizagem. Com a SSA, sua IES usará novas tecnologias para promover uma metodologia de aprendizagem mais dinâmica e despertar nos alunos a paixão por aprender.</p>
    </div>

    <div id='como-isso-aajuda-a-IES' class='right'>
      <!-- <img src="../images/como-isso-ajuda-a-IES.png" alt=""> -->
      <h2>Como isso ajuda a IES</h2>
      <p>A aquisição da SSA é uma escolha que oferece desafios e oportunidades. Sua instituição de ensino possibilitará conexões entre tecnologia, conteúdos e pessoas.</p>
      <p>Atender às diretrizes curriculares nacionais dos cursos, estabelecidas pelo MEC (Ministério da Educação), é a verdadeira meta das IES. Para saber mais sobre essas diretrizes acesse: <a href="http://portal.mec.gov.br/index.php?option=com_content&id=12991">Diretrizes curriculares.</a></p>
    </div>

    <div id='beneficios-para-o-estudante' class='left'>
      <img src="../images/beneficios-para-o-estudante.png" alt="">
      <h2>Benefícios para o Estudante</h2>
      <p><strong>Aprendizagem personalizada e efetiva:</strong> metodologia testada, que garante o acompanhamento do desempenho acadêmico, desenvolvendo competências, habilidades e o pensamento crítico.</p>
      <p><strong>Biblioteca pessoal:</strong> o aluno receberá livros físicos de todas as disciplinas, o que possibilitará a ele criar sua biblioteca pessoal ao longo do curso.</p>
      <p><strong>Maior valor percebido do curso e da instituição:</strong> a metodologia permite que o aluno aprimore seus estudos, maximizando sua aprendizagem e aumentando sua ligação com a instituição.</p>
    </div>

    <div id='beneficios-para-o-professor' class='right'>
      <img src="../images/beneficios-para-o-professor.png" alt="">
      <h2>Benefícios para o Professor</h2>
      <p><strong>Treinamento e suporte pedagógico:</strong> estrutura de apoio que facilita a preparação das aulas e o acompanhamento do desempenho dos alunos.</p>
      <p><strong>Maior flexibilidade e produtividade:</strong> as sugestões de matrizes, programas, conteúdos e atividades proporcionam mais tempo, recursos e liberdade para os professores.</p>
      <p><strong>Enriquecimento do ensino:</strong> professor terá à disposição milhares de recursos que estimulam o desenvolvimento de competências e a dinâmica da sala de aula.</p>
    </div>

     <div id='beneficios-para-o-dirigente' class='left'>
      <img src="../images/beneficios-para-o-dirigente.png" alt="">
      <h2>Benefícios para os Dirigentes/IES</h2>
      <p><strong>Melhoria no acompanhamento da aprendizagem:</strong> ferramentas de avaliação que permitem maior controle sobre o desempenho discente e docente.</p>
      <p><strong>Valorização da instituição:</strong> benefícios tangíveis e mensuráveis no tempo, possibilitando melhores avaliações em provas oficiais e aumento da visibilidade da instituição.</p>
      <p><strong>Ótima relação custo-benefício:</strong> proposta inédita que une acompanhamento constante, conteúdo de referência e metodologia comprovada.</p>
    </div>

    <div id='oficinas-palestras-conectam-equipe' class='right'>
      <img src="../images/photo-about.png" alt="">
      <h2>As oficinas e palestras conectam a equipe</h2>
      <p>Para potencializar a capacidade de aprendizado, a Saraiva Solução de Aprendizagem oferece oficinas para qualificação para os alunos e professores. Assim, docentes e discentes podem acompanhar a evolução do sistema e das ferramentas disponíveis para o processo de ensino e aprendizagem. Este é um grande incentivo a novas práticas.</p>
    </div>

  </div>
</section>
