<%- layout('../layouts/application') %>
<% stylesheet('../stylesheets/screen.css') -%>

<section class='content'>
  <div class='sidebar'>
    <ul>
      <li><a href="#uniao-saraiva-hoper">› Saraiva + HOPER = Saraiva Solução de Aprendizagem (SSA)</a></li>
      <li><a href="#bio-saraiva">› Sobre a Saraiva</a></li>
      <li><a href="#bio-hoper">› Sobre a HOPER Educação</a></li>
    </ul>
  </div>
  <div id='uniao-saraiva-hoper' class='page'>
    <h1>Saraiva + HOPER = Saraiva Solução de Aprendizagem (SSA)</h1>
    <img src='../images/hoper-saraiva-explain.png' />
    <blockquote>
      A <strong>Saraiva</strong> e a <strong>HOPER</strong> se uniram para criar o futuro do Ensino Superior brasileiro. Juntas, desenvolveram uma proposta para complementar o trabalho do professor em sala de aula e garantir a aprendizagem dos alunos. Assim, eles poderão ter um desempenho melhor em provas e avaliações oficiais, como o <strong>ENADE</strong>, o <strong>Exame da OAB</strong> e o <strong>Exame de Suficiência CRC</strong>.
      <br /><br /><strong>SARAIVA SOLUÇÃO DE APRENDIZAGEM. SUA INSTITUIÇÃO PRECISA CONHECER.</strong>
    </blockquote>

    <div id='bio-saraiva' class='bio right'>
      <img src="../images/photo-help.png" alt="">
      <h2>Sobre a Saraiva</h2>
      <p>Uma das maiores editoras de conteúdo educacional do Brasil, referência na publicação de obras de Administração, Contabilidade, Economia, Direito e Negócios. Destaca-se também pelos recursos digitais inovadores direcionados para o Ensino Superior oferecendo ferramentas que facilitam a aprendizagem dos alunos e o trabalho dos professores.</p>
    </div>

    <div id='bio-hoper' class='product left'>
      <img src="../images/photo-about.png" alt="">
      <h2>Sobre a HOPER Educação</h2>
      <p>Maior empresa de consultoria educacional no Brasil, especializada em gestão universitária e na avaliação da qualidade do ensino e da aprendizagem. Com 15 anos de experiência, já atendeu a mais de 500 instituições de ensino.</p>
    </div>
  </div>
</section>
